* {
    box-sizing: border-box;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;

}



body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('');
    background-size: cover;
    /* Pour couvrir tout l'élément */
    overflow-x: hidden;

}


h1 {
    color: #2c3e50;
}



.container {

    padding-top: 100px;
    padding-bottom: 150px;


}

.formulaire {
    margin-top: 80px;
    margin-left: 60px;
}





.contact-form {
    display: flex;
    flex-direction: column;

}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #007bff;
    border-radius: 4px;
    outline: none;

}

.required {
    color: red;
}



.dysl .form-group {
    width: 500px;
}


textarea {
    width: 500px;
    height: 80px;
    outline: none;
    border: 1px solid #007bff;


}

.bnt {
    padding: 8px;
    background-color: #3A7BD5;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;

}

.bnt:hover {
    background-color: #007bff;
}

footer a {
    text-decoration: none;
    color: white;
}

.icon {
    width: 35px;
    margin: 40px 8px;
}