* {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.notifcation-tab {
    display: none;
    position: absolute;
    right: 7px;
    top: 100px;
    width: 300px;
    border: 1px solid #ccc;
    height: 400px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.userpicture {
    border-radius: 100%;
}

.profi {
    display: none;
    position: relative;
    right: 5px;
    top: 80px;
    height: 290px;
    width: 250px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.border-0 {
    width: 100%;
    cursor: text;
    color: white;

}

:hover .border-0 {
    background-color: gainsboro;

}

.coll {
    background-color: gainsboro;
    box-shadow: 0 0 10px 0 rgba(86, 74, 245, 0.2);
}


.sect {
    padding-top: 150px;
}

body {
    font-family: Arial, sans-serif;

    background-color: #f4f4f4;
    display: block;
    align-items: center;
}

.rating-container {
    text-align: center;
}

.stars {
    display: flex;
    justify-content: center;
}

.star {
    font-size: 2rem;
    cursor: pointer;
    color: #ddd;
}

.star:hover,
.star.selected,
.star.selected~.star {
    color: gold;
}

.average-rating {
    margin-top: 10px;
    font-size: 1.2rem;
}

.card {
    box-shadow: 10px 0 10px 0 rgba(58, 106, 239, 0.2);
    border-radius: 10px;
}

@keyframes reveal {
    from {
        transform: scale(0);
        opacity: 0;

    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

h3 {

    animation: reveal linear;
    animation-timeline: view(1s);
    animation-range: cover 0% contain 50%;

}

footer a {
    text-decoration: none;
    color: white;
}

.iconn {
    width: 35px;
    margin: 40px 8px;
}