*{
    box-sizing: border-box;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
       
 }


 input{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: none; 
    outline: none;
    height: 45px;
   
 }

 select, option{
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

 }

 .sec1{
    padding-top: 150px;
    text-align: center;
    color: white;
    background-color: #373fb1;
    padding-bottom: 20px;
 }
.sec2{
    text-align: center;
    background-color: rgb(235, 235, 253);
    padding: 20px;
    color: #373fb1;
}

form{
    box-shadow: 10px 0px 10px 10px rgb(244, 242, 242);
    padding: 20px;
    border-radius: 20px;
}

.sec3{
margin: 50px 0;


 }
 h2{
    text-align: center;
 }

 footer a{
   text-decoration: none;
   color: white;
}

.icon{
   width: 35px;
   margin:40px 8px;
}

